<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
    <title>Add News</title>
</head>
<body>
<form class="form-horizontal " action="#" th:action="@{/content/addcontent}" th:object="${content}" method="post"
      enctype="multipart/form-data">

    <!-- Form Name -->
    <legend>
        <center>NEWS</center>
    </legend>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="product_id">TITLE</label>
        <div class="col-md-4">
            <input id="product_id" th:field="*{titleContent}" name="product_id" placeholder="title"
                   class="form-control input-md" required="" type="text">

        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">MAIN CONTENT</label>
        <div class="col-md-4">
            <input id="product_name" th:field="*{mainContent}" name="product_name" placeholder="main of content"
                   class="form-control input-md" required="" type="text">

        </div>
    </div>

    <!-- File Button -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="filebutton">IMAGE</label>
        <div class="col-md-4">
            <input id="filebutton" name="image" class="input-file" type="file" accept="image/png, image/jpeg">
        </div>
    </div>


    <!-- Button -->
    <div class="form-group">
        <label class="col-md-4 control-label">ADD</label>
        <div class="col-md-4">
            <!--                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>-->
            <p><input class="btn btn-primary" type="submit" value="Submit"/>
        </div>
    </div>
    <center>
        <div class="text-success" th:text="${message}"></div>
    </center>
    <div class="btn--goHome">
        <a th:href="@{/content/home}">Go home</a>
    </div>
</form>
<style>
    body {
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        /*padding: 100px 0;*/
        padding-top: 50px;
    }

    .btn--goHome {
        display: block;
        position: relative;
    }

    .btn--goHome a {
        position: absolute;
        right: 200px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }
</style>
</body>
</html>